
.content-container {
    margin-top: 70px;
    background-color: rgb(231, 229, 229);
    font-size: 20px;
    width: 100%;
    font-family: sans-serif;
    overflow-y: scroll;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}