

.toolbar-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B2149;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
}

.toolbar-container:hover {
    color: white;
    background-color: #487ad5;
}

.toolbar-container div {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.message-container:hover {
    background-color: #a5bce7;
}
